@import './base.css';

@font-face {
  font-family: 'runescapeFont';
  src: url('./fonts/runescape.ttf') format('truetype'),
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'runescapeFont', Roboto, sans-serif;
  overflow: hidden;
}